<!DOCTYPE html>

<title>Ordners</title>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="/css/main.css">

<body>
    <nav>
		<a href="/">Home</a>
		<a href="/search">Search</a>
		<a href="/upload">Upload</a>
		<% if @render_logout %>
		<a id="logout" href="/logout">Logout</a>
		<% end %>
    </nav>
    <main id="content">
	<%= yield %>
    </main>
</body>
