<link rel="stylesheet" href="/css/search.css">
<form action="/search">
    <div id="form-query">
        <input type="text" name="query" id="form-query-input" placeholder="fuzzy serach">
        <input type="submit" value="search" class="btn">
    </div>
    <div id="form-advanced_controls">
        <div id="search-advanced">
            <input placeholder="tags (tag1, tag2, ...)" type="text" name="tags">
            <input type="date" name="date">
            <a class="btn" href="#">close advanced options</a>
        </div>
        <a class="btn" id="form-enable_advanced" href="#search-advanced">
          show advanced options
        </a>
    </div>
</form>
<hr>
<div id="doc-grid">
  <% @docs.each do |doc| %>
    <a class="document" href="/view/<%= doc.id %>">
      <img class="document-image" src="<%= doc.get_path %>">
      <hr>
      <div class="document-info">
        <p>Name: <%= doc.name %></p>
        <p>Tags: comming soon..</p>
      </div>
    </a>
  <% end %>
</div>
