<link rel="stylesheet" href="/css/search.css">
<form action="/search">
    <div id="form-query">
        <input type="text" name="query" id="form-query-input" placeholder="...">
        <input type="submit" value="search" class="btn">
    </div>
    <div id="form-advanced_controls">
        <div id="search-advanced">
            <input type="text" name="tags">
            <input type="date" name="date">
            <a class="btn" href="#">close advanced search</a>
        </div>
        <a class="btn" id="form-enable_advanced" href="#search-advanced">advanced</a>
    </div>
</form>
<hr>
<div>

</div>
