<link rel="stylesheet" href="/css/upload.css" />

<% if @error %>
<p style="color: #ff0000"><%= @error %></p>
<% end %>

<form action="/upload" method="POST" enctype="multipart/form-data" id="upload">
    <label id="upload-file_label" class="btn center-content" for="upload-file_input"
            title="drop and down also works">
        <img src="/icons/images.svg"/>
        <span class="pl">Select images</span>
        <%# todo: for now just 1 image, backend does not support many yet %>
    </label>
    <input id="upload-file_input" name="files[]" type="file" multiple />

    <input type="submit" id="upload-submit" class="btn" value="Upload" disabled="true" />
</form>

<div id="preview">
    <%# will be filled by javascript %>
</div>

<div style="display: none;" id="templates">
    <div id="preview-template" class="preview-image center-content">
        <div class="actions center-content">
            <button class="action-item" title="make parent image">
                <img src="/icons/star.svg"/>
            </button>
            <button class="action-item" title="remove image">
                <img src="/icons/delete.svg"/>
            </button>
        </div>
        <img src="/uploads/1.jpg" class="img" />
    </div>
</div>

<script src="/js/upload.js"></script>