:root {
    /* Colors */
    --primary: #a75de3;
    --black: #282828;
    --marble: #f0f0f0;
    --passive-gray: #d0d0d0;

    /* Border */
    --radius: 3px;
}

/* default style for elements */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--marble);
}

.btn, button, input[type="reset"] {
    font-size: 0.8rem;
    padding: 2px 8px;
    border: 1px var(--passive-gray) solid;
    border-radius: var(--radius);
    cursor: pointer;
    background-color: #fafafa;
    text-decoration: none;
    color: var(--black);
    display: inline-block;
}

.btn[disabled="true"] {
    color: var(--passive-gray);
}

.btn:hover, button:hover, input[type="reset"]:hover {
    background-color: #e7e7e7;
}

fieldset {
    border: 1px solid black;
    padding: .4rem;
    border-radius: var(--radius);
}

hr {
    width: 100%;
    margin: auto;
    border-top: 1px solid var(--passive-gray);
    margin: 1rem 0;
}
/* ---------------- */

nav {
    padding: 0px 8px;
    border-bottom: 1px solid var(--passive-gray);
}
nav a {
    display: inline-block;
    text-decoration: none;
    padding: 8px;
    color: #646464;
}

nav a:hover {
    color: var(--primary)
}

input {
    border: 1px solid var(--passive-gray);
    padding: .1rem .2rem;
    border-radius: var(--radius);
}

#logout {
    float: right;
    color: #ff6050;
}

#content {
    padding: 4px;
    background-color: var(--marble);
}

/* Layouts */
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Paddings */

.p {
    padding: 0.7rem;
}

.p-sm {
    padding: 0.2rem;
}

.pt {
    padding-top: 0.7rem;
}

.pr {
    padding-right: 0.7rem;
}    

.pl {
    padding-left: 0.7rem;
}        

.pb {
    padding-bottom: 0.7rem;
}

/* margins */

.m {
    margin: 0.7rem;
}

.m-sm {
    margin: 0.2rem;
}

.mt {
    margin-top: 0.7rem;
}

.mr {
    margin-right: 0.7rem;
}    

.ml {
    margin-left: 0.7rem;
}        

.mb {
    margin-bottom: 0.7rem;
}