#form-query {
    margin-bottom: 1rem;
}

#form-query-input {
    padding: .1rem .2rem;
    border-radius: var(--radius); 
}

#search-advanced:target + #form-enable_advanced {
    display: none;
}

#search-advanced {
    display: none;
}

#search-advanced > input {
    display: block;
    width: 12rem;
    margin-bottom: 4px;
    padding: 0.1rem 0.2rem;
    border-radius: var(--radius);
}

#search-advanced:target {
    display: block;
}

#doc-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.document {
    display: inline-block;
    text-decoration: none;
    color: var(--black);
    margin-right: 4px;
    padding: .4rem;
    border-radius: var(--radius);
    border: 1px solid var(--passive-gray);
    background-color: #fafafa;
}

.document:last-child {
    margin-right: 0;
}

.document:hover {
    background-color: #fff;
    border: 1px solid var(--primary);
}

.document-image {
    max-width: 100%;
    margin: auto;
    max-height: 70vh;
    display: block;
}

