form {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#upload-file_label {
    padding: 1.8rem 3.6rem;
    text-align: center;
    background-color: #fafafa;
    margin-bottom: 2rem;
}

#upload-file_label:hover {
    background-color: #efefef;
}

#upload-file_input,
#upload-parent_input {
    display: none;
}

#preview {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.preview-image {
    border-radius: var(--radius);
    overflow: hidden;
    padding: .2rem;
    border: 1px solid var(--passive-gray);
    height: 25rem;
    width: 17rem;
    background-color: #f5f5f5;
    position: relative;
    justify-self: center;
    display: inline-flex;
}

.preview-image > .actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.preview-image:first-child .action-item:first-child {
    opacity: 0;
    cursor: default;
}

.action-item {
    border: none;
    height: 2rem;
    width: 2rem;
    background-color: #fff4;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}

.action-item:first-child:hover {
    background-color: #f7ec42;
}

.action-item:nth-child(2):hover {
    background-color: #e06363;
}

.preview-image > .img {
    max-height: 100%;
    max-width: 100%;
}

.btn.starred {
    background-color: gold;
}

@media (max-width: 1200px) {
    #preview {
        grid-template-columns: auto auto auto;
    }

    .preview-image {
        height: 20rem;
        width: 14rem;
    }
}

@media (max-width: 768px) {
    #preview {
        grid-template-columns: auto auto;
    }
}